<% biz_vios = Violation.where(business_id: biz_id) %>
<% biz_vios.each do |violation| %>
	<div class="row description-text">
		<span class="text-info sml-txt pull-left">Date: <%= violation.date %></span>
		<br>
		<span class="text-danger"><%= violation.risk_category %></span>
		<span class="text-default"><%= violation.description %></span>	
		<br>
    </div>
<%end%>